<div class="container p-4">
  <div class="mb-5" id="team-carousel">
    <p>Participating teams</p>
    <br>
    <div class="teams-carrousel">
      <% @teams.each do |team| %>
        <div class="carousel_card">
          <div>
          <%= link_to image_tag( "#{team.team_tag}-logo.png"), team_path(team), class: "team-logo-img" %>
          <%= link_to team.team_name.titleize, team_path(team), class: "team-name"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
    <h2>Top 3 Teams</h2>
    <p><strong>According to matches, avg views and avg likes per match since 2019</strong></p>
    <br>
      <div class="card-deck">
        <% @top_teams.each_with_index do |team, i| %>
          <div class="card" style="width: 18rem; box-shadow: 0 20px 50px rgba(0,0,0,0.8)">
            <%= image_tag "team_banner/#{team[:team_tag]}-banner.png", class: "card-img-top"%>
            <div class="card-body">
              <h2 class="card-title text-center"><%="#{i+1}ยบ #{team[:team].capitalize}"%></h2>
              <hr style="border-color: #72BFC9; border-width: 2px 0"/>
              <h4 class="card-text text-center"><%= team[:matches] %> <span style="font-family: 'lato'; font-weight: 100">matches</span></h4>
              <h4 class="card-text text-center"><%= number_with_delimiter(team[:avg_views]) %><span style="font-family: 'lato'; font-weight: 100"> avg. views</span></h4>
              <h4 class="card-text text-center"><%= number_with_delimiter(team[:avg_likes]) %><span style="font-family: 'lato'; font-weight: 100"> likes per match </span></h4>
              <br>
              <%= link_to "#{team[:team].capitalize} Page", team_path(team[:team_id]), class:"btn btn-outline-secondary btn-block" %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <br>

<div class="container p-4">
  <div class="mb-5" id="top-audience-teams">
    <h2>Top Teams in Avg. Audience</h2>
    <p><strong>Avg. viewers per game, seasons 2019 and 2020</strong></p>
    <br>
    <%= column_chart @top_audience_avg, thousands: ",", colors: ["#72BFC9", "white"], height: "450px"; %>
  </div>
</div>

<div class= "dividers mb-5 mt-5" style="background-image: url(<%= image_path 'stripe.png' %>); ">
  <div class="row">
    <div class="col-7"><h1>Considering the 2019 and 2020 seasons of the CBLoL, Flamengo is the most popular team, both in audience and social media engagement. Pain comes in second and Uppercut in third.</h1></div>
    <div class="col-5"><%= image_tag "heroes/vi.png", class: "hero" %></div>
  </div>
</div>

<div class="container p-4">
  <div class="mb-5" id="top-like-teams">
    <h2>Top Teams in Video Likes</h2>
    <p><strong>Avg. YouTube likes per game, seasons 2019 and 2020</strong></p>
    <%= column_chart @top_likes_avg, thousands: ",", colors: ["#72BFC9", "white"], height: "450px"; %>
  </div>
</div>

