<div class="container p-4">
  <div id="team-carousel">
    <h4>Participating teams</h4>
    <br>
    <div class="teams-carrousel">
      <% @teams.each do |team| %>
        <div class="carousel_card"> 
          <%= image_tag 'furia-logo.png', class: "team-logo-img" %>
          <%= link_to team.team_name.capitalize, team_path(team), class: "team-name"%>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div id="top-audience-teams">
    <h2>Top audience teams</h2>
    <p><strong>average per game</strong></p>
    <%# <%= image_tag 'chart_example.png', style: "width: 1000px"%>
    <%= @top_audience_avg %>
  </div>

  <br>

  <div id="top-like-teams">
    <h2>Top like teams</h2>
    <p><strong>average per game</strong></p>
    <%# <%= image_tag 'chart_example.png', style: "width: 1000px"%>
    <%= @top_likes_avg %>
  </div>

  <br>

  <div id="top-comment-teams">
    <h2>Top comment teams</h2>
    <p><strong>average per game</strong></p>
    <%# <%= image_tag 'chart_example.png', style: "width: 1000px"%>
    <%= @top_comment_avg %>
  </div>

  <br>

</div>
