<div class="container p-4">
  <div id="team-carousel">
    <h4>Participating teams</h4>
    <br>
    <div class="teams-carrousel">
      <% @teams.each do |team| %>
        <div class="carousel_card">
          <div>
          <%= image_tag "#{team.team_tag}-logo.png", class: "team-logo-img" %>
          <%= link_to team.team_name.capitalize, team_path(team), class: "team-name"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div id="top-audience-teams">
    <h2>Top audience teams</h2>
    <p><strong>average per game</strong></p>
    <%= line_chart (@top_audience_avg, []), thousands: ",", colors: ["#72BFC9", "white"] %>
  </div>

  <br>

  <div id="top-like-teams">
    <h2>Top like teams</h2>
    <p><strong>average per game</strong></p>
    <%= bar_chart @top_likes_avg, thousands: ",", colors: ["#72BFC9", "white"] %>
  </div>

  <br>

  <div id="top-comment-teams">
    <h2>Top comment teams</h2>
    <p><strong>average per game</strong></p>
    <%= bar_chart @top_comment_avg, thousands: ",", colors: ["#72BFC9", "white"] %>
  </div>

  <%= timeline [
  ["Washington", "1789-04-29", "1797-03-03"],
  ["Adams", "1797-03-03", "1801-03-03"],
  ["Jefferson", "1801-03-03", "1809-03-03"] ] %>

  <pre><code>
    Name, cat-A,cat-B , cat-C
    Jan, 1, 2, 3
    Feb, 4, 5, 6
    Mar, 7, 8, 9
  </code></pre>
  <p><code>(@line)</code></p>


  <br>

</div>
