<div class="container p-4">
  <div class="mb-5" id="team-carousel">
    <h4>Participating teams</h4>
    <br>
    <div class="teams-carrousel">
      <% @teams.each do |team| %>
        <div class="carousel_card">
          <div>
            <%= image_tag "#{team.team_tag}-logo.png", class: "team-logo-img" %>
            <%= link_to team.team_name.titleize, team_path(team), class: "team-name"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
  <div class="row pr-5 pl-5" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80); background-size: cover; box-shadow: 0 0 15px rgba(0,0,0,0.5); ">
    <div class="col-4 d-flex justify-content-center align-items-center">
      <%= image_tag "#{@team.team_tag}-logo.png", class: "team-logo-big" %>
    </div>
    <div class="col-8 p-4" style="color: white">
      <h1><strong><%= @team.team_long_name.titleize %></strong></h1>
      <p>Data collected from casting videos on YouTube</p>
      <br>
      <div class="info_cards_grid">
        <div class="card">
          <h5><strong>Broadcasts</strong></h5>
          <p><%= @banner[:matches] %></p>
        </div>
        <div class="card">
          <h5><strong>Total Views</strong></h5>
          <p><%= number_with_delimiter(@banner[:views]) %></p>
        </div>
        <div class="card">
          <h5><strong>Avg. Views per Match</strong></h5>
          <p><%= number_with_delimiter(@banner[:views_match]) %></p>
        </div>
        <div class="card">
          <h5><strong>Video Likes</strong></h5>
          <p><%= number_with_delimiter(@banner[:likes]) %></p>
        </div>
        <div class="card">
          <h5><strong>Video Comments</strong></h5>
          <p><%= number_with_delimiter(@banner[:comments]) %></p>
        </div>
        <div class="card">
          <h5><strong>Video Dislikes</strong></h5>
          <p><%= number_with_delimiter(@banner[:dislikes]) %></p>
        </div>
      </div>
    </div>
  </div>

<div class="container p-4">
  <h2>Present Lineup</h2>

  <div class="mb-5 mt-5" id="player-card" >
    <%  @players.each do |player| %>
    <div class="card" style="width: 18rem;">
      <%= image_tag "no-avatar.png", class: "card-img-top", alt: "Card image cap" %>
      <div class="card-body">
        <p class="card-text"><strong>Name:</strong> <%= player.player_name.titleize %></p>
        <p class="card-text"><strong>Nickname:</strong> <%= player.player_nick.titleize %></p>
      </div>
    </div>
    <% end %>
    <div class="card" style="width: 18rem;">
      <%= image_tag "no-avatar.png", class: "card-img-top", alt: "Card image cap" %>
      <div class="card-body">
        <p class="card-text"><strong>Coach Name:</strong> </p>
        <p class="card-text"></p>
      </div>
    </div>
  </div>

  <br>

  <div class="mb-5" id="last-5-audiences-chart">
    <h2>Last matches audiences</h2>
    <%= bar_chart @last_5, thousands: ",", colors: ["#72BFC9", "white"] %>
  </div>

  <br>

  <div class="mb-5" id="top-audience-table">
    <h2>Top 5 Audiences</h2>
    <table class="table" style="text-align: center; vertical-align: middle">
        <thead>
          <tr>
            <th>Tournament</th>
            <th colspan="5">Match</th>
            <th>Views</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @top_5.each do |match|  %>
          <tr>
            <td style="vertical-align: middle"><%= match[:tournament] %></td>
            <td><%= image_tag "#{match[:team_blue].team_tag}-logo.png", class: "team-logo-s"%></td>
            <td><%= match[:team_blue].team_name.capitalize %></td>
            <td>vs.</td>
            <td><%= match[:team_red].team_name.capitalize %></td>
            <td><%= image_tag "#{match[:team_red].team_tag}-logo.png", class: "team-logo-s"%></td>
            <td><%= number_with_delimiter(match[:views]) %></td>
            <td><%= match[:date] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>

  <br>
</div>
