<div class="container p-4">
  <div class="mb-5" id="team-carousel">
    <p>Participating teams</p>
    <br>
    <div class="teams-carrousel">
      <% @teams.each do |team| %>
        <div class="carousel_card">
          <div>
            <%= image_tag "#{team.team_tag}-logo.png", class: "team-logo-img" %>
            <%= link_to team.team_name.titleize, team_path(team), class: "team-name"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <div class="row pr-5 pl-5" style="background-color: #4E5155">
    <div class="col-4 d-flex justify-content-center align-items-center">
      <%= image_tag "#{@team.team_tag}-logo.png", class: "team-logo-big" %>
    </div>
    <div class="col-8 p-4" style="color: white">
      <h1><strong><%= @team.team_long_name.titleize %></strong></h1>
      <p>Data collected from casting videos on YouTube</p>
      <br>
      <div class="info_cards_grid">
        <div class="card">
          <h4><strong> <%= @banner[:matches] %></strong><h4>
          <p>Matches</p>
        </div>
        <div class="card">
          <h4><strong><%= number_with_delimiter(@banner[:views]) %></strong></h4>
          <p>Total Views</p>
        </div>
        <div class="card">
          <h4><strong><%= number_with_delimiter(@banner[:views_match]) %></strong></h4>
          <p>Avg. Views per Match</p>
        </div>
        <div class="card">
          <h4><strong><%= number_with_delimiter(@banner[:likes]) %></strong></h4>
          <p>Video Likes</p>
        </div>
        <div class="card">
          <h4><strong><%= number_with_delimiter(@banner[:comments]) %></strong></h4>
          <p>Video Comments</p>
        </div>
        <div class="card">
          <h4><strong><%= number_with_delimiter(@banner[:dislikes]) %></strong></h4>
          <p>Video Dislikes</p>
        </div>
      </div>
    </div>
  </div>

<div class="container p-4">
  <h2>Present Lineup</h2>
  <div class="mt-5" id="player-card">
    <%  @players.each do |player| %>
      <div class="profile-card-2" ><%= image_tag "players/#{player.player_nick}.jpg", class: "img img-responsive", alt: "Card image cap" %>
          <div class="profile-name"><%= player.player_nick.titleize %></div>
          <div class="profile-username"><%= player.player_name.titleize %></div>
      </div>
      <% end %>
  </div>
</div>

<div class="container p-4">

  <br>

  <div class="mb-5" id="last-5-audiences-chart">
    <h2>Last Matches Audiences</h2>
    <p><strong>Views in Youtube match videos</strong></p>
    <%= bar_chart @last_5.map , thousands: ",", colors: ["#72BFC9", "white"] %>
  </div>

  <br>

  <div class="mb-5" id="top-audience-table">
    <h2>Top 5 Audiences</h2>
    <p><strong>Views in Youtube match videos</strong></p>
    <table class="table" style="text-align: center; vertical-align: middle">
        <thead>
          <tr>
            <th>Tournament</th>
            <th colspan="5">Match</th>
            <th>Views</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @top_5.each do |match|  %>
          <tr>
            <td style="vertical-align: middle"><%= match[:tournament] %></td>
            <td><%= image_tag "#{match[:team_blue].team_tag}-logo.png", class: "team-logo-s"%></td>
            <td><%= match[:team_blue].team_name.capitalize %></td>
            <td>vs.</td>
            <td><%= match[:team_red].team_name.capitalize %></td>
            <td><%= image_tag "#{match[:team_red].team_tag}-logo.png", class: "team-logo-s"%></td>
            <td><%= number_with_delimiter(match[:views]) %></td>
            <td><%= match[:date] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <br>
</div>
