<div class="container p-4">
  <div id="team-carousel">
    <h4>Participating teams</h4>
    <br>
    <div class="teams-carrousel">
      <% @teams.each do |team| %>
        <div class="carousel_card">
          <%= image_tag "#{team.team_tag}-logo.png", class: "team-logo-img" %>
          <%= link_to team.team_name.capitalize, team_path(team), class: "team-name"%>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-8">
      <h1><%= @team.team_long_name.capitalize %></h1>
      <p>Data collected from casting videos on YouTube</p>
      <br>
      <div class="info_cards_grid">
        <div class="card">
          <h5>Broadcasts</h5>
          <p><%= @banner[:matches] %></p>
        </div>
        <div class="card">
          <h5>Total views</h5>
          <p><%= @banner[:views] %></p>
        </div>
        <div class="card">
          <h5>Average views per match</h5>
          <p><%= @banner[:views_match] %></p>
        </div>
        <div class="card">
          <h5>Video likes</h5>
          <p><%= @banner[:likes] %></p>
        </div>
        <div class="card">
          <h5>Video comments</h5>
          <p><%= @banner[:comments] %></p>
        </div>
        <div class="card">
          <h5>Video dislikes</h5>
          <p><%= @banner[:dislikes] %></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <%= image_tag "#{@team.team_tag}-logo.png", class: "team-logo-img" %>
    </div>
  </div>

  <div id="total-audience-split-chart">
    <h2>Total audience by split</h2>
    <%= image_tag 'chart_example.png', style: "width: 1000px"%>
  </div>

  <br>

  <div id="last-5-audiences-chart">
    <h2>Last 5 matches audiences</h2>
    <%= @last_5 %>
    <%= image_tag 'chart_example.png', style: "width: 1000px"%>
  </div>

  <br>

  <div id="top-audience-table">
    <h2>Top 5 Audiences</h2>
    <%= @top_5 %>
    <table class="table">
        <thead>
          <tr>
            <th>Tournament</th>
            <th>Teams</th>
            <th>Views</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>CBLOL 2020 - Split 1</td>
            <td>Team 1 x Team 2</td>
            <td>241.650</td>
            <td>09.04.20</td>
          </tr>
        </tbody>
      </table>
  </div>

  <br>
</div>
