<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(<%= image_path 'banner.jpg' %>); background-size: cover ">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center" style="margin-top:60px">
                        <div class="col-md-8 col-12 order-md-1 order-2">
                            <h4 id="presentation">A <strong style="color:#72BFC9">GGBee</strong> conecta você com as principais métricas de stream do CBLOL.</h4>
                            <p id="presentation2">Saiba tudo sobre o campeonato nacional de e-sports mais assistido do Brasil. </p> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1538481199705-c710c4e965fc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1732&q=80)">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center" style="margin-top:60px">
                        <div class="col-md-8 col-12 order-md-1 order-2">
                            <h4>Quais <strong style="color:#72BFC9">times</strong> geram mais engajamento?</h4>
                            <p>A partir de dados do YouTube, você poderá comparar time a time, quais têm mais engajamento nos streams do CBLOL.</p> <br> <%= link_to 'VER AGORA', teams_path %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>

<div class="container p-4">

  <div class="row">

    <div class="col-8">
      <h1>CBLOL 2021</h1>
      <p><strong>EVENT: </strong>Riot's Official LOL Brazilian Championship</p>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Split 1</th>
            <th>Split 2</th>
            <th>Organizations</th>
            <th>Broadcast on</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>02/03/2021 - 02/06/2021</td>
            <td>02/03/2021 - 02/06/2021</td>
            <td>12 Teams</td>
            <td>Youtube and Twitch</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <%= image_tag 'cblol_cup.png', class: "cup-img" %>
    </div>
  </div>
  <br>
  <div id="split-carousel">
    <h4>Past Split</h4>
    <br>
    <div class="split_carousel_cards_grid">
      <div class="card">
        <div class="split_card">
          <%= image_tag 'logo_cblol.png', class: "split-card-img" %>
        </div>
        <div>
          <p class="split-name">2019 - Split 1</p>
        </div>
      </div>
      <div class="card">
        <div class="split_card">
          <%= image_tag 'logo_cblol.png', class: "split-card-img" %>
        </div>
        <div>
          <p class="split-name">2019 - Split 2</p>
        </div>
      </div>
      <div class="card">
        <div class="split_card">
          <%= image_tag 'logo_cblol.png', class: "split-card-img" %>
        </div>
        <div>
          <p class="split-name">2020 - Split 1</p>
        </div>
      </div>
      <div class="card">
        <div class="split_card">
          <%= image_tag 'logo_cblol.png', class: "split-card-img" %>
        </div>
        <div>
          <p class="split-name">2020 - Split 2</p>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div id="audience-chart">
    <h2>Audience</h2>

      <%= data = @data.each_slice(5).to_a%>
      <%= pie_chart (data) %>

    <%= column_chart data.map { |tournament|
    [{name: tournament.first[0], data: tournament.first[1]}]}%>

    <%#= line_chart @top_harray.map{ |tournament|
      {library: {hAxis: {title: "X", data: tournament.first[0]}, vAxis: {title: "Y", audience: tournament.first[1]}}}}  %>

  </div>

  <br>

  <div id="team-carousel">
    <h4>Participating teams</h4>
    <br>
    <div class="teams-carrousel">
      <div class="carousel_card">
          <%= image_tag 'cru-logo.png', class: "team-logo-img" %>
          <p class="team-name">Cruzeiro</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'falkol-logo.png', class: "team-logo-img" %>
        <p class="team-name">Falkol Prodigy</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'fla-logo.png', class: "team-logo-img" %>
        <p class="team-name">Flamengo</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'fur-logo.png', class: "team-logo-img" %>
        <p class="team-name">FURIA</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'itz-logo.png', class: "team-logo-img" %>
        <p class="team-name">INTZ</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'kbm-logo.png', class: "team-logo-img" %>
        <p class="team-name">KaBuM</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'loud-logo.png', class: "team-logo-img" %>
        <p class="team-name">LOUD</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'png-logo.png', class: "team-logo-img" %>
        <p class="team-name">paiN Gaming</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'redcanids-logo.png', class: "team-logo-img" %>
        <p class="team-name">RED Canids Kalunga</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'rensga-logo.png', class: "team-logo-img" %>
        <p class="team-name">Rensga</p>
      </div>
    </div>
  </div>
  <br>
  <div id="avg-casting-chart">
    <h2>Average casting time</h2>
    <%= image_tag 'chart_example.png', style: "width: 1000px"%>
  </div>
  <br>
</div>
