<div id="myCarousel" class="carousel slide carousel-fade mb-5" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(<%= image_path 'banner.jpg' %>); background-size: cover ">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center" style="margin-top:60px">
                        <div class="col-md-8 col-12 order-md-1 order-2">
                            <h4 id="presentation"><strong style="color:#72BFC9">GGBee</strong> conects you with the main stream metrics of the League of Legends Brazilian Championship</h4>
                            <p id="presentation2">Get to know all about views, comments and likes about the main Brazilian e-sports tournament </p> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1538481199705-c710c4e965fc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1732&q=80)">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center" style="margin-top:60px">
                        <div class="col-md-8 col-12 order-md-1 order-2">
                            <h4>Which <strong style="color:#72BFC9">team</strong> have more engagement?</h4>
                            <p>We gather YouTube data and process it, so you can compare the best teams in engagement</p> <br> <%= link_to 'CHECK IT', teams_path %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>

<div class="container p-4">
  <div class="row">
    <div class="col-9" id="info-card">
      <h1><strong>LoL Competitive Scene in Brazil</strong></h1>
      <p>GGBee analyzes CBLoL data from YouTube since 2019</p>
      <br>
      <div class="info_cards_grid" id="index-cards">
        <div class="card">
          <h4><%= number_with_delimiter(@banner_infos[:views]) %></h4>
          <p>Total views in casts</p>
        </div>
        <div class="card">
          <h4><%= number_with_delimiter(@banner_infos[:views_cast]) %></h4>
          <p>Avg. views per cast</p>
        </div>
        <div class="card">
          <h4><%= number_with_delimiter(@banner_infos[:likes]) %></h4>
          <p>Likes in cast videos</p>
        </div>
        <div class="card">
          <h4><%= number_with_delimiter(@banner_infos[:comments]) %></h4>
          <p>Comments in casts</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <%= image_tag 'cblol_cup.png', class: "cup-img-index" %>
    </div>
  </div>
  <div class="container p-4">
    <div class="row mb-5">
      <h1>Past splits</h1>
      <br>
      <table class="table" style="text-align: center">
        <thead>
          <tr>
            <th>Tournament</th>
            <th>Dates</th>
            <th>Rounds</th>
            <th>Champion</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @past_splits.each do |split| %>
            <tr>
              <td><%= split[:tournament] %></td>
              <td><%= "#{split[:start_date]} - #{split[:end_date]}" %></td>
              <td><%= split[:rounds] %> </td>
              <td> <%= split[:champion] %> </td>
              <td> <%=  link_to "", tournament_path(split[:t_id]), class:"fas fa-angle-double-right" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <br>
    <div class="mb-5" id="audience-chart">
      <h2>CBLoL historical audience</h2>
      <p><strong>Round by round since season 2019</strong></p>
      <%= line_chart @audience, thousands: ",", colors: ["#72BFC9", "white"]  %>
    </div>
    <br>
    <div class="mb-5" id="team-carousel">
      <p>Participating teams</p>
      <br>
      <div class="teams-carrousel">
        <% @teams.each do |team| %>
          <div class="carousel_card">
            <div>
              <%= image_tag "#{team.team_tag}-logo.png", class: "team-logo-img" %>
              <%= link_to team.team_name.titleize, team_path(team), class: "team-name"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <h2>Avg. casting time</h2>
    <p><strong>Viwers per Date</strong></p>
    <div class="row">
      <div class="col-4 text-center">
        <%= image_tag 'heroes/yasuo.png' %>
      </div>
      <div class="col-8 text-center">
        <h3><strong><%= @avg_time[:avg_time]%></strong></h3>
        <p>Cast time by subject (in minutes)</p>
        <div id="avg-casting-chart">
          <%= pie_chart @donut, thousands: ",", colors: ["#72BFC9", "white"]  %>
        </div>
      </div>
    </div>
  </div>
</div>
