<div class="container p-4">

  <div class="row">

    <div class="col-8">
      <h1>CBLOL 2021</h1>
      <p><strong>EVENT: </strong>Riot's Official LOL Brazilian Championship</p>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Split 1</th>
            <th>Split 2</th>
            <th>Organizations</th>
            <th>Broadcast on</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>02/03/2021 - 02/06/2021</td>
            <td>02/03/2021 - 02/06/2021</td>
            <td>12 Teams</td>
            <td>Youtube and Twitch</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <%= image_tag 'taca_cblol.jpg', class: "cup-img" %>
    </div>
  </div>
  <br>
  <div id="split-carousel">
    <h4>Past Split</h4>
    <br>
    <div class="split_carousel_cards_grid">
      <div class="card">
        <div class="split_card">
          <%= image_tag 'logo_cblol.png', class: "split-card-img" %>
        </div>
        <div>
          <p class="split-name">2019 - Split 1</p>
        </div>
      </div>
      <div class="card">
        <div class="split_card">
          <%= image_tag 'logo_cblol.png', class: "split-card-img" %>
        </div>
        <div>
          <p class="split-name">2019 - Split 2</p>
        </div>
      </div>
      <div class="card">
        <div class="split_card">
          <%= image_tag 'logo_cblol.png', class: "split-card-img" %>
        </div>
        <div>
          <p class="split-name">2020 - Split 1</p>
        </div>
      </div>
      <div class="card">
        <div class="split_card">
          <%= image_tag 'logo_cblol.png', class: "split-card-img" %>
        </div>
        <div>
          <p class="split-name">2020 - Split 2</p>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div id="audience-chart">
    <h2>Audience</h2>
    <%= line_chart @audience %>
    <%= image_tag 'chart_example.png', style: "width: 1000px"%>
  </div>

  <br>

  <div id="team-carousel">
    <h4>Participating teams</h4>
    <br>
    <div class="teams-carrousel">
      <div class="carousel_card">
          <%= image_tag 'cruzeiro-logo.png', class: "team-logo-img" %>
          <p class="team-name">Cruzeiro</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'falkol-logo.png', class: "team-logo-img" %>
        <p class="team-name">Falkol Prodigy</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'flamengo-logo.jpg', class: "team-logo-img" %>
        <p class="team-name">Flamengo</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'furia-logo.png', class: "team-logo-img" %>
        <p class="team-name">FURIA</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'intz-logo.png', class: "team-logo-img" %>
        <p class="team-name">INTZ</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'kabum-logo.png', class: "team-logo-img" %>
        <p class="team-name">KaBuM</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'loud-logo.png', class: "team-logo-img" %>
        <p class="team-name">LOUD</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'paing-logo.png', class: "team-logo-img" %>
        <p class="team-name">paiN Gaming</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'redcanids-logo.png', class: "team-logo-img" %>
        <p class="team-name">RED Canids Kalunga</p>
      </div>
      <div class="carousel_card">
        <%= image_tag 'rensga-logo.png', class: "team-logo-img" %>
        <p class="team-name">Rensga</p>
      </div>
    </div>
  </div>
  <br>
  <div id="avg-casting-chart">
    <h2>Average casting time</h2>
    <%= image_tag 'chart_example.png', style: "width: 1000px"%>
  </div>
  <br>
</div>

