<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(<%= image_path 'banner.jpg' %>); background-size: cover ">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center" style="margin-top:60px">
                        <div class="col-md-8 col-12 order-md-1 order-2">
                            <h4 id="presentation">A <strong style="color:#72BFC9">GGBee</strong> conecta você com as principais métricas de stream do CBLOL.</h4>
                            <p id="presentation2">Saiba tudo sobre o campeonato nacional de e-sports mais assistido do Brasil. </p> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1538481199705-c710c4e965fc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1732&q=80)">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center" style="margin-top:60px">
                        <div class="col-md-8 col-12 order-md-1 order-2">
                            <h4>Quais <strong style="color:#72BFC9">times</strong> geram mais engajamento?</h4>
                            <p>A partir de dados do YouTube, você poderá comparar time a time, quais têm mais engajamento nos streams do CBLOL.</p> <br> <%= link_to 'VER AGORA', teams_path %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>

<div class="container p-4">
  <div class="row">
    <div class="col-8">
      <h1><strong>LoL competitive scene in Brazil</strong></h1>
      <p><strong>GGBee </strong>analyzes CBLoL data  from YouTube since 2019</p>
      <br>
      <div class="info_cards_grid">
        <div class="card">
          <h5>Splits analyzeds</h5>
          <p><%= @tournaments.count %></p>
        </div>
        <div class="card">
          <h5>Round live casts</h5>
          <p><%= number_with_delimiter(@banner_infos[:casts]) %></p>
        </div>
        <div class="card">
          <h5>Total views in casts</h5>
          <p><%= number_with_delimiter(@banner_infos[:views]) %></p>
        </div>
        <div class="card">
          <h5>Avg. viewws per cast</h5>
          <p><%= number_with_delimiter(@banner_infos[:views_cast]) %></p>
        </div>
        <div class="card">
          <h5>Likes in cast videos</h5>
          <p><%= number_with_delimiter(@banner_infos[:likes]) %></p>
        </div>
        <div class="card">
          <h5>Comments in casts</h5>
          <p><%= number_with_delimiter(@banner_infos[:comments]) %></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <%= image_tag 'cblol_cup.png', class: "cup-img" %>
    </div>
  </div>

  <div class="container p-4">
  <div class="row">
    <h1>Past splits</h1>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Tournament</th>
          <th>Dates</th>
          <th>Rounds</th>
          <th>Champion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @past_splits.each do |split| %>
          <tr>
            <td><%= split[:tournament] %></td>
            <td><%= "#{split[:start_date]} - #{split[:end_date]}" %></td>
            <td><%= split[:rounds] %> </td>
            <td> <%= split[:champion] %> </td>
            <td> <%=  link_to "More", tournament_path(split[:t_id]) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <div id="audience-chart">
    <h2>CBLoL historical audience</h2>
    <p><strong>Round by round since season 2019</strong></p>
    <%= line_chart @audience, thousands: ",", colors: ["#72BFC9", "white"]  %>
  </div>

  <br>

  <div id="team-carousel">
    <h4>Participating teams</h4>
    <br>
    <div class="teams-carrousel">
      <% @teams.each do |team| %>
        <div class="carousel_card">
          <div>
            <%= image_tag "#{team.team_tag}-logo.png", class: "team-logo-img" %>
            <%= link_to team.team_name.titleize, team_path(team), class: "team-name"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  
  <div class="container p-4">
    <h2>Avg. casting time</h2>
    <p><strong>Viwers per Date</strong></p>
    <div class="row">
      <div class="col-4 text-center">
        <%= image_tag 'heroes/yasuo.png' %>
      </div>
  
      <div class="col-8 text-center">
        <h3><strong><%= @avg_time[:avg_time]%></strong></h3>
        <p>Cast time by subject (in minutes)</p>
        <div id="avg-casting-chart">
          <%= pie_chart @donut, thousands: ",", colors: ["#72BFC9", "white"]  %>  
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
