<div id="myCarousel" class="carousel slide carousel-fade mb-5" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(<%= image_path 'banner.jpg' %>); background-size: cover; box-shadow: 0 0 15px rgba(0,0,0,0.5); ">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center" style="margin-top:60px">
                        <div class="col-md-8 col-12 order-md-1 order-2">
                            <h4 id="presentation"><strong style="color:#72BFC9">GGBee</strong> conects you with main streaming metrics of LoL's Brazilian Championship</h4>
                            <p id="presentation2">Get to know all about views, comments, likes and much more </p> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1538481199705-c710c4e965fc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1732&q=80); box-shadow: 0 0 15px rgba(0,0,0,0.5);">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center" style="margin-top:60px">
                        <div class="col-md-8 col-12 order-md-1 order-2">
                            <h4>Which <strong style="color:#72BFC9">team</strong> better engages with its audience?</h4>
                            <p>We gather, organize and process YouTube data so you can compare teams</p> <br> <%= link_to 'CHECK IT', teams_path %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>

<div class="container p-4">
  <div class="row">
    <div class="col-10" id="info-card">
      <h1><strong>LoL Competitive Scene in Brazil</strong></h1>
      <p>GGBee analyzes CBLoL data from YouTube since 2019 season</p>
      <br>
      <div class="info_cards_grid" id="index-cards">
        <div class="card">
          <h4><%= number_with_delimiter(@banner_infos[:views]) %></h4>
          <p>Total Views in Casts</p>
        </div>
        <div class="card">
          <h4><%= number_with_delimiter(@banner_infos[:views_cast]) %></h4>
          <p>Avg. Views per Cast</p>
        </div>
        <div class="card">
          <h4><%= number_with_delimiter(@banner_infos[:likes]) %></h4>
          <p>Likes in Cast Videos</p>
        </div>
        <div class="card">
          <h4><%= number_with_delimiter(@banner_infos[:comments]) %></h4>
          <p>Comments in Casts</p>
        </div>
        <div class="card">
          <h4><%= @avg_time[:avg_time] %></h4>
          <p>Avg. Cast Time (hrs.)</p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <%= image_tag 'cblol_cup.png', class: "cup-img-index" %>
    </div>
  </div>
</div>

<div class="container p-4">
  <h2>Past Splits</h2>
  <br>
  <div class="card-deck mb-5">
    <% @past_splits.each do |split| %>
      <div class="card" style="width: 18rem; box-shadow: 0 20px 50px rgba(0,0,0,0.8)">
        <%= image_tag "cblol-banner.png", class: "card-img-top"%>
        <div class="card-body">
          <h2 class="card-title text-center"><%= split[:tournament] %></h2>
          <hr style="border-color: #72BFC9; border-width: 2px 0"/>
          <p class="card-text text-center"><%= "#{split[:start_date]} - #{split[:end_date]}" %></p>
          <h5 class="card-text text-center"><span style="font-family: 'lato'; font-weight: 100">Rounds:</span> <%= split[:rounds] %></h5>
          <h5 class="card-text text-center"><span style="font-family: 'lato'; font-weight: 100">Winner:</span> <%= split[:champion] %></h5>
          <br>
          <%= link_to "#{split[:tournament]} Page", tournament_path(split[:t_id]), class:"btn btn-outline-secondary btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mb-5" id="team-carousel">
  <p>Participating Teams</p>
  <br>
  <div class="teams-carrousel">
    <% @teams.each do |team| %>
      <div class="carousel_card">
        <div>
          <%= link_to image_tag( "#{team.team_tag}-logo.png"), team_path(team), class: "team-logo-img" %>
          <%= link_to team.team_name.titleize, team_path(team), class: "team-name"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
  <div class="mb-5" id="audience-chart">
    <h2>CBLoL Historical Audience</h2>
    <p><strong>Total viewers round by round, seasons 2019 to 2020</strong></p>
    <%= area_chart @audience, thousands: ",", colors: ["#72BFC9", "white"], height: "450px"  %>
  </div>
<br>
</div>
