<div class="container p-4">
  <div class="row">
    <div class="mb-5" id="split-carousel">
      <p>Past Splits</p>
      <br>
      <div class="split_carousel_cards_grid">
        <% @tournaments.each do |tournament| %>
          <div class="carousel_card pl-3" >
            <div>
              <%= image_tag 'logo_cblol_blue.png', class: "team-logo-img" %>
              <%= link_to "#{tournament.season}-#{tournament.split}", tournament_path(tournament) %>
            </div>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

  <div class="row p-5 mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path 'banner-back.png' %>); background-size: cover; box-shadow: 0 0 15px rgba(0,0,0,0.5); ">
    <div class="col-4 d-flex justify-content-center align-items-center">
      <%= image_tag 'logo_cblol.png', class: "cup-img" %>
    </div>
    <div class="col-8 p-4" id="info-card" >
      <h1><%= "CBLOL #{@tournament.season} - Split #{@tournament.split}" %></h1>
      <p>Data collected from casting videos on YouTube</p>
      <br>
      <div class="info_cards_grid">
        <div class="card">
          <h5>Broadcasts</h5>
          <p><%= @banner[:casts] %></p>
        </div>
        <div class="card">
          <h5>Broadcast Time</h5>
          <p><%= number_with_delimiter(@banner[:time]) %>minutes</p>
        </div>
        <div class="card">
          <h5>Matches brodcasted</h5>
          <p><%= @banner[:matches] %></p>
        </div>
        <div class="card">
          <h5>Views in casting videos</h5>
          <p><%= number_with_delimiter(@banner[:views]) %></p>
        </div>
        <div class="card">
          <h5>Avg. views per cast</h5>
          <p><%= number_with_delimiter(@banner[:views_cast]) %></p>
        </div>
        <div class="card">
          <h5>Likes in casting videos</h5>
          <p><%= number_with_delimiter(@banner[:likes_cast]) %></p>
        </div>
      </div>
    </div>
  </div>


<div class="container p-4">

  <br>

  <div class="mb-5" id="top-watched-chart">
    <h2>Top 5 Cast Audiences</h2>
    <p><strong>Playoffs and regular season casting videos</strong></p>
    <%= bar_chart @top_5_casts, thousands: ",", colors: ["#72BFC9", "white"] %>
  </div>

  <br>

  <div class="mb-5" id="audience-chart">
    <h2>Audience Round by Round</h2>
    <p><strong>Casting videos in Youtube</strong></p>
    <%= line_chart @round_views, thousands: ",", colors: ["#72BFC9", "white"] %>
  </div>

  <div class="container">
  <div class="row">
    <div class="blockquote-wrapper justify-content-around">
      <div class="col-3"><%= image_tag 'heroes/leona.png', class: "hero-img" %></div>
      <div class="col-9">
        <div class="blockquote">
          <h1>Intuitive design happens when <span style="color:#ffffff">current knowledge</span> is the same as the <span style="color:#ffffff">target knowledge.</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

  <div id="top-audience-table">
    <h2>Top 5 Audiences</h2>
    <p><strong>Match videos in Youtube</strong></p>
    <table class="table table-dark" style="text-align: center">
        <thead>
          <tr>
            <th colspan="5">Match</th>
            <th>Views</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @top_5_matches.each do |match| %>
            <tr>
              <td><%= match[:team_blue].team_name.capitalize %></td>
              <td><%= image_tag "#{match[:team_blue].team_tag}-logo.png", class: "team-logo-s"%></td>
              <td>vs</td>
              <td><%= image_tag "#{match[:team_red].team_tag}-logo.png", class: "team-logo-s"%></td>
              <td><%= match[:team_red].team_name.capitalize %></td>
              <td><%= number_with_delimiter(match[:views]) %></td>
              <td><%= match[:date] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>

  <br>

</div>
