<div class="container p-4">

  <div class="row">

  <div id="split-carousel">
    <h4>Past Splits</h4>
    <br>
    <div class="split_carousel_cards_grid">
      <% @tournaments.each do |tournament| %>
        <div class="carousel_card pl-3" >
          <div>
            <%= image_tag 'logo_cblol.png', class: "team-logo-img" %>
            <%= link_to "#{tournament.season}-#{tournament.split}", tournament_path(tournament) %>
          </div>
        </div>
    <% end %>
    </div>
  </div>

    <br>

    <div class="col-8">
      <h1><%= "CBLOL #{@tournament.season} - Split #{@tournament.split}" %></h1>
      <p>Data collected from casting videos on YouTube</p>
      <br>
      <div class="info_cards_grid">
        <div class="card">
          <h5>Broadcasts</h5>
          <p><%= @banner[:casts] %></p>
        </div>
        <div class="card">
          <h5>Broadcast Time</h5>
          <p><%= number_with_delimiter(@banner[:time]) %></p>
        </div>
        <div class="card">
          <h5>Matches brodcasted</h5>
          <p><%= @banner[:matches] %></p>
        </div>
        <div class="card">
          <h5>Views in casting videos</h5>
          <p><%= number_with_delimiter(@banner[:views]) %></p>
        </div>
        <div class="card">
          <h5>Avg. views per cast</h5>
          <p><%= number_with_delimiter(@banner[:views_cast]) %></p>
        </div>
        <div class="card">
          <h5>Likes in casting videos</h5>
          <p><%= number_with_delimiter(@banner[:likes_cast]) %></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <%= image_tag 'logo_cblol.png', class: "cup-img" %>
    </div>
  </div>

  <br>

  <div id="top-watched-chart">
    <h2>Top 5 casts in audience</h2>
    <%= bar_chart @top_5_casts, thousands: ",", colors: ["#72BFC9", "white"] %>
  </div>

  <br>

  <div id="audience-chart">
    <h2>Audience round by round</h2>
    <%= line_chart @round_views, thousands: ",", colors: ["#72BFC9", "white"] %>
  </div>

  <br>

  <div id="top-audience-table">
    <h2>Top 5 Audiences</h2>
    <table class="table" style="text-align: center">
        <thead>
          <tr>
            <th colspan="5">Match</th>
            <th>Views</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @top_5_matches.each do |match| %>
            <tr>
              <td><%= match[:team_blue].team_name.capitalize %></td>
              <td><%= image_tag "#{match[:team_blue].team_tag}-logo.png", class: "team-logo-img"%></td>
              <td>vs</td>
              <td><%= image_tag "#{match[:team_red].team_tag}-logo.png", class: "team-logo-img"%></td>
              <td><%= match[:team_red].team_name.capitalize %></td>
              <td><%= number_with_delimiter(match[:views]) %></td>
              <td><%= match[:date] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>

  <br>

</div>
